* {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 48px;
  display: inline-block;
  margin-left: auto;
  text-align: center;
  margin-right: auto;
}

h2 {
  font-size: 40px;
  display: inline-block;
  margin-left: auto;
  text-align: center;
  margin-right: auto;
}

section {
  margin-left: auto;
  margin-right: auto;
}

section > figure > img {
  width: 310px;
  float: left;
}

#righttext {
  height: 18px;
}